.container {
  position: relative;
  text-align: center;
  color: green;
  font-weight: bolder;
  font-size: xx-large;
    margin: 5rem ;

}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
}


/* second one starts */
* {
  box-sizing: border-box;
}
.container-two {
  position: relative;
  font-size: 1rem;
  margin: 5rem ;
    padding: 2rem 0px;
}

.container-two img {
  vertical-align: middle;
}

.container-two .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}


/* third one starts */

.container-three{
  position: relative;
  font-size: xx-large;
    margin: 5rem ;

  }

  .container-three img{
    vertical-align: middle;
  }


  .container-three .content-two{
    position: absolute;
    top: 0;
  background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  }
  

  /* fourth one starts */

  .container-four{
    position: relative;
    margin: 5rem;
    font-weight: bold;
    font-size: xx-large;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
  }

  .container-four img{
    vertical-align:  middle;

  }
  .text-block{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

/* five one starts */

.bg-img{
  background-image: url("https://picsum.photos/1400/500");
  
  min-height: 26rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 }

.container-five{
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: black;
  opacity: .6;
}

input[type=text],input[type=password]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus , input[type=password]:focus{
  background-color: #ddd;
  outline: none;
}


.btn{
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;

}
.btn:hover{
  opacity: 1;
}


/* six one starts */
.container-six{
    position: relative;
    margin: 5rem;
    font-weight: bold;
    font-size: xx-large;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
  }

  .container-six img{
    vertical-align:  middle;

  }
  .img-block{
    position: absolute;
    bottom: 20px;
    right: 20px;
     color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

  .img-block > * {
    padding-left: 2rem;
  }
